@import "tool.scss";
.post-card,.classify-card,.edit-card{
    min-height: 100px;
    padding: 35px;
    // background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width:70%;
    margin:50px auto;
}
.post-card,.edit-card{
    blockquote{
        color: #666;
        padding: 1px 23px;
        margin: 22px 0;
        border-left: 4px solid #cbcbcb;
        background-color: #f8f8f8;
        line-height:1.5;
    }
    p{
        margin:1rem;
        color: #666;
        line-height:2;
    }
    em{
        color: #666;
        font-style: italic;
        line-height:2;
    }
    a{
        text-decoration:underline ;
        line-height:1.5;
        display: inline-block;;
    }
    h2{
        margin-top: 2em;
    }
    h3{
        font-size: 1.9rem;
        margin-top: 1.9em;
    }
    img{
        max-width: 100%;
    }
    strong{
        color: #3f3f3f;
        padding: 0 .15rem;
        font-weight: bold;
    }
    pre{
        word-wrap: normal;
        word-break: break-all;
        white-space: pre;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        margin-top: 0;
        margin-bottom: 20px;
        border-radius: 4px;
        z-index: 0;
        padding: 1em;
        line-height: 1.5;
        color: #ccc;
        background: #2d2d2d;
    }
    .language-js{
        font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
        color: #cd9999;
    }
    .hljs-keyword, .hljs-selector-tag, .hljs-subst {
        color: #cc99cd;
        font-weight: normal;
    }
    // .hljs-constructor{
    //     color: #f8c555;
    // }
    // .hljs-params{
    //     color:#7ec699
    // }
    .hljs-comment, .hljs-quote {
        color: rgba(126, 198, 153, 0.6);
        font-style: italic;
    }
    code{
        background: rgba(96,126,121,.2);
        padding: 0 .4rem;
        border-radius: .2rem;
    }
    code.language-js  {
        background:none;
    }
    .article_title{
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size:1.9rem;
        padding-bottom: .8rem;
        box-shadow: 0 0.5rem 0.5rem -0.5rem #aaa;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .article_time{
        padding-top:0.8rem;
        display:flex;
        justify-content: center;
        position: relative;
        .article_classify{
            position: absolute;
            right:0;
            top:0;
            bottom:0;
            display:flex;
            align-items:center;
            span{
                padding:0 0.5rem;
                &:first-child{
                    border-right:0.2rem;
                    box-shadow: 0.5rem 0 0.3rem -0.3rem #aaa;
                }
            }
        }
    }
}
// 分类
.classify-card{
    height:80%;
    .classify-name{
        display:flex;
        // justify-content: space-between;
        li{
            margin-right:20px;
            text-align: center;
            color: #7b7b7b;
            font-size:1.5rem;
            position: relative;
            padding:0 20px;
            cursor: pointer;
            &::after{
                content: " ";
                transition: all 0.5s;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                box-shadow: 0 0.5rem 0.5rem -0.5rem #aaa;
                transform: scaleX(0);
                transform-origin: 0 100%;
            }
            &:hover{
                &::after{
                    transform:scale(1);
                    transform-origin: 0 0;
                }
                
            }
            &.active{
                &::after{
                    transform:scale(1);
                    transform-origin: 0 0;
                }
            }
        }
    }
    .classify-list{
        margin-top:50px;
        padding-left:20px;
        li{
            display:flex;
            justify-content: space-between;
            margin-bottom:20px;
            @include cursor;
            @include fontSize;
            .title_name{
                width:100px ;
                text-align: center;
            }
            .listLine{
                flex:1;
                border-bottom:1px solid #7b7b7b;
                transform:translateY(-50%) ;
                margin:0 50px;
                transition: all 0.5s;
            }
            &:hover{
                color:#cbcbcb;
                .listLine{
                    margin:0 20px;
                }
            }
        }
    }
}
// 登录页面
.login_page{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    .login_div{
        // width:20rem;
        padding:3rem;
        border-radius:0.5rem;
        input{
            border:none;
            background:transparent;
            padding:0.3rem;
            box-shadow: 0 0.5rem 0.5rem -0.5rem #aaa;
            width:240px;
        }
        .login_form{
            margin-bottom:20px;
        }
        .login_btns{
            display:flex;
            justify-content: center;
            div{
                margin-right:20px;
                padding:3px 20px;
                background:#7b7b7b;
                color:#fff;
                border-radius:0.5rem;
                @include cursor;
            }
        }
    }
}
// 后台列表页
.backStage_div{
    .backStage_list,.backStage_content{
        display:flex;
        justify-content: space-around;
        background: transparent;
        color: #607e79;
    }
    .backStage_list{
        margin-bottom:10px;
        font-size:14px;
        .backStage_title,.backStage_classify,.backStage_tag,.backStage_date,.backStage_make{
            flex:1;
            text-align: center;
        }
    }
    .backStage_content{
        color:#666;
        background:rgba(96,126,121,.28);
        padding:10px 0;
        font-size:14px;
        @include cursor;
        .backStage_title,.backStage_classify,.backStage_tag,.backStage_date,.backStage_make{
            flex:1;
            text-align: center;
        }
        &:hover{
            background:rgba(96,126,121,.58);
        }
        &:nth-child(2n){
            background:rgba(96,126,121,.37);
            &:hover{
                background:rgba(96,126,121,.57);
            }
        }
        .backStage_make{
            span{
                margin-right:10px;
            }
        }
    }
}
// 编辑页面
.edit_div{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display:flex;
    justify-content: space-around;
    padding:0 20px;
    .edit-card{
        width:40%;
        position: relative;
        display: flex;
        flex-direction: column;
        .edit_content{
            width:100%;
            border:none;
            box-shadow: 0.5rem 0 0.5rem -0.5rem #aaa;
            background:transparent;
            resize:none;
            flex:1;
            // overflow: hidden;
        }
        .edit-title{
            border:none;
            font-size:18px;
            color: #607e79;
            box-shadow: 0 0.5rem 0.5rem -0.5rem #aaa;
            background:transparent;
            width:100%;
            padding-bottom: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        .edit_title{
            font-size:18px;
            color: #607e79;
            box-shadow: 0 0.5rem 0.5rem -0.5rem #aaa;
            padding-bottom: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .edit_save,.edit_tags,.edit_classify{
      position: fixed;
      left:50%;
      top:50%;
      width:3.5rem;
      height:3.5rem;
      transform: translate(-50%,-50%);
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius:50%;
      box-shadow: 0 0 0.6rem 0 #aaa;
      background: #f6f6f6;
      transition: all 0.5s;
      @include cursor;
      .iconfont{
        font-size:1.8rem;
      }
      &:hover{
        background: rgba(96,126,121,.3);
      }
      .select_tags{
          position: absolute;
          top:100%;
      }
    }
    .edit_classify{
        top:40%;
    }
    .edit_tags{
        top:30%;
    }
}
.tags_list{
    display:flex;
    span{
        border:none;
        box-shadow: 0 0 0.6rem 0 #aaa;
        padding:3px 10px;
        margin-right:5px;
        border-radius: 4px;
        white-space :nowrap;
    }
}
