html,body,#app{
  height:100%;
  width:100%;
  overflow: hidden;
}
// 首页
#app {
    .bgImg{
      position: fixed;
      left:0;
      top:0;
      width:100%;
      height:100%;
      z-index:-1;
      background:#f1f1f1;
      img{
        width:100%;
        height:100%;
      }
    }
    .opening{
      position: fixed;
      z-index:1000;
      background:#2e3436;
      color:#fff;
      left:0;
      top:0;
      right:0;
      bottom:0;
      display:flex;
      justify-content: center;
      align-items: center;
      transition: 1s all;
      transform: translateY(0);
      &:after{
        content: "";
        display: inline-block;
        height: 20px;
        width: 3px;
        vertical-align: baseline;
        background-color: currentcolor;
        animation: openning 1s infinite;
      }
    }
    .openingMove{
        transform: translateY(-100%);
    }
    // 鼠标光标
    @keyframes openning {
        0% {
            opacity: 1
          }
          50% {
            opacity: 1
          }
          51% {
            opacity: 0
          }
          to {
            opacity: 0
          }
    }
  }
  // 主体
  .contain{
    display:flex;
    height:100%;
    width:100%;
    .leftCol{
      height: 100%;
      background: rgba(0,0,0,0.5); 
      flex:0 0 20%;
      animation: leftMenu 1s cubic-bezier(0.74,0.43,0.75,0.47) 3s 1 normal;
      box-sizing: border-box;
      padding: 45px;
      .header-info{
        .header-img{
          text-align: center;
          img{
            width:142px;
            height:142px;
            border-radius: 50%;
            object-fit:cover;
            cursor: pointer;
          }
          p{
            color:#fff;
            margin-top:10px;
            cursor: pointer;
            &:hover{
              color:#0F9FB4;
            }
          }
        }
        .header-motto{
          padding:30px;
          // background:#ccc;
          // margin-top:30px;
          color:#fff;
          line-height:1.5;
          text-align: center;
        }
        .header-nav{
            text-align:center;
            color:#fff;
            input{
              border:none;
              color:#fff;
              border-bottom: 1px solid #0F9FB4;
              background:none;
              line-height: 2;
              &::-webkit-input-placeholder{
                color: #ffffff;
              } 
            }
            dt,dd{
              margin-top:10px;
              & span:hover{
                cursor: pointer;
                color:#0F9FB4;
              }
            }
        }
      }
    }
    .rightCol{
      flex-grow:1;
      height: 100%;
      // background: red;
      animation: rightMenu 1s cubic-bezier(0.74,0.43,0.75,0.47) 3s 1 normal;
      position: relative;
    }
    @keyframes leftMenu {
      0%{
        transform: translateX(-100%)
      }
      100%{
        transform: translateX(0)
      }
    }
    @keyframes rightMenu {
      0%{
        transform: translateX(100%)
      }
      100%{
        transform: translateX(0)
      }
    }
  }
